<!doctype html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Ganspa</title>
    <link rel="stylesheet" type="text/css" href="{% static 'basefunction/css/base.css' %}"/>
    {% block css %}{% endblock %}
</head>

<body>
<div class="header">
    <div class="header-logo">
        <img src="{% static 'basefunction/img/logo2.png' %}" href="" class="btn" alt="Ganspa">    
        <div id="header-menu">
        <ul>
            <a href="">
            <div class="guide"><a href="{% url 'Ganspa:top' %}">TOP</a></div>
            <div class="guide"><a href="{% url 'Ganspa:guide' %}">Ganspaとは</a></div>
            <div class="users"><a href="{% url 'Ganspa:users' %}">参加者情報</a></div>
            <div class="user"><a href="{% url 'Ganspa:update' %}">ユーザー情報の変更</a></div>
            <div class="change"><a href="http://localhost:8000/accounts/password_change_form/">パスワードの変更</a></div>
            <div class="logout"><a href="{% url 'logout'%}">ログアウト</a></div>
            </a>
        </ul>
    </div>
    </div>
</div>
{% block content %}{% endblock %}
</body>
</html>