{% extends "basefunction/base.html" %}
{% load static %}
<!doctype html>
<html lang="ja">
<head>
    {% block css %}
    <meta charset="utf-8">
    <title>Ganspa</title>
    <link rel="stylesheet" type="text/css" href="{% static 'basefunction/css/delete.css' %}"/>
    {% endblock %}
</head>
<body>
    {% block content_block %}
    <form method="post">{% csrf_token %}
        <p>本当に "{{ object }}" を削除しますか?</p>
        <input type="submit" value="削除する">
        </form>
        <p>アイウエオ</p>
    {% endblock %}
</body>
</html>