{% extends "basefunction/base.html" %}
{% load static %}
<!doctype html>
<html lang="ja">
<head>
    {% block css %}
    <meta charset="utf-8">
    <title>Ganspa</title>
    <link rel="stylesheet" type="text/css" href="{% static 'basefunction/css/top.css' %}"/>
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="header">
      
    <div class="memmber-info">
        {% if user.is_authenticated %}
        <p>こんばんは☕️ 　 {{ account.fullname }} さん <a href="{% url 'logout'%}">ログアウト</a></p>
        <p>学習:{{ account.goal }}</p>
        <p>{{ account.job }}</p>
        <p>{{ account.coffee_like }}</p>
        {% else %}
        {% endif %}
    </div>

    <div class="main">
        <div class="top-wrapper">
        <div class="copy-container">
            <h1>Ganspaは学習したい人を応援する。<br>
                家でスタバの環境構築ができるWebサービスです</h1>
            <img src="{% static 'basefunction/img/cafe.png' %}" class="cafe"/><br>
            <a href="https://us05web.zoom.us/j/81931427678?pwd=TjRSb2hHNko0Nk1ycExnZlpwWnd2Zz09">Ganspaへ参加</a>
        
        </div>
        </div>
        <div class="message">
            <h3>お知らせ</h3>
            <p>①いいね</p>
            <p>②開催日程</p>  
        <div class="profile">
            <h3>プロフィール</h3>
            <p>①画像</p>
            <p>②名前</p>
            <p>③学習目標</p>
        </div>
        </div>
        <div class="contact-form">
        </div>        
    </div>
    
    <div class="footer">
        <div class="footer-logo">
            <img src="{% static 'basefunction/img/logo2.png' %}" class="logo2" alt="Ganspa">
        </div>
        <div class="footer-list">
            <ul>
            <li>営業時間</li>
            <li>07:00~09:00</li>
            <li>17:00~22:00</li>
            </ul>
        </div>
    </div> 
    {% endblock %}
</body>
</html>