@charset "UTF-8";

body {
    font-family:'Hiragino Kaku Gothic Pro','Meiryo','sans-serif';
    font-size: 15px;
    padding-top:90px;
}
.top-header{
    background: #CCC;
    display: flex;
    padding: 60px 20px;
    position:fixed;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    top: 0;
    left: 0;
    align-items:center;
}
.header-logo img{
    width: auto;
    height:20px;
    display:inline-block;
    margin-bottom:5px;
    vertical-align: left;
}
.header-menu{
    display: flex;
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px; */
}
.h_list_item {
    /* display: flex;
    line-height: 48px;
    height: 100%;
    width:200px;
    min-width:200px;
    text-align: right; */
    margin-left:20px;
}

.h_list_item a {
    /* display: flex;
    display:block;
    width:150px;
    text-align:center;
    margin:0 auto; */
    color:skyblue;
    text-decoration: none;
}
#header-menu ul a{
    background:#00A2FF;
    border:1px solid #00A2FF;
    color: #fff;
    transition:all .15s ease;
}
#header-menu ul a:hover{
    background:#fff;
    color: #00A2FF;
    transition:all .15s ease;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    line-height: normal;
    line-height: 1.7;
    box-sizing: border-box;
}
a {
    text-decoration:none;
    color: #333;
}

h1{
    margin:20px;
    color:#0e0500;
}
.cafe{
    height: 500px;
}
li{
    list-style:none;
}

.main{
    height:100vw;
    padding:100px 80px;
    background-color:#9bbc1d;
}
.copy-container h1{
    font-size:50px;
}
.copy-container p{
    font-size:25px;
}
.copy-container a{
    font-size:20px;
    color:red;
    background:#fff;
    border: 1px solid #fff;
    color: #333;
    transition: all .15s ease;
}
.copy-container a hover{
    background:#333;
    border: 1px solid #333;
    color: skyblue;
    transition: all .3s ease;
}


.footer{
    background-color:#699220;
    color:#fff;
    height:120px;
    padding:40px;
}
.footer-logo{
    float:left;
    display: block;
    width: auto;
    height:auto;
}
.footer-logo img{
    width: 20%;
    height:auto;
    display:inline-block;
    margin-bottom:5px;
    text-align: left;
}
.footer-list{
    float:right;
}
.footer-list a{
    font-size:25px;
    
    padding-bottom:20px;
}