input{
    width:400px;
    margin-top:10px;
    margin-bottom:30px;
    padding:20px;
    font-size:18px;
    border:1px solid #dee7ec;
    color:blueviolet;
}
.profile{
    background-color:#2f5167;
    color:#889eab;
}